{
{% if consul_server %}
  "server": true,
  "ui": true,
  "bootstrap_expect": {{ groups['manager'] | length }},
  "client_addr": "{{ ansible_eth0.ipv4.address }}",
{% endif %}
  "bind_addr": "{{ ansible_eth0.ipv4.address }}",
  "advertise_addr": "{{ ansible_eth0.ipv4.address }}",
  "data_dir": "{{ data_dir }}",
  "retry_join": ["{{ groups['manager']| map('extract', hostvars, ['ansible_eth0', 'ipv4', 'address'])| join('","')  }}"]
}
