job "{{ job.name }}" {

  {% if job.datacenters is defined -%}
  datacenters = ["{{ job.datacenters | join('","') }}"]
  {%- endif %}

  {% if job.constraint is defined %}
  {%- for cons in job.constraint -%}
  constraint {
  {% for k,v in cons.iteritems() %}
    {{ k }}  = "{{ v }}"
  {% endfor -%}
  }
  {%- endfor %}
  {% endif %}

  {% if job.type is defined -%}
  type = "{{ job.type }}"
  {% endif %}

  {% if job['update'] is defined -%}
  update {
  {% for k,v in job['update'].iteritems() %}
    {{ k }}  = "{{ v }}"
  {% endfor -%}
  }
  {% endif %}

  {% if job['migrate'] is defined -%}
  migrate {
  {% for k,v in job['migrate'].iteritems() %}
    {{ k }}  = "{{ v }}"
  {% endfor -%}
  }
  {% endif %}

  {% if job['group'] is defined %}
  {%- for group in job.group -%}
  group "{{ group.name }}" {

    {% if group.count is defined -%}
    count = {{ group.count }}
    {%- endif %}

    {% if group.restart is defined -%}
    restart {
    {% for k,v in group.restart.iteritems() %}
      {{ k }}  = "{{ v }}"
    {% endfor -%}
    }
    {% endif %}

    {% if group.ephemeral_disk is defined -%}
    ephemeral_disk {
    {% for k,v in group.ephemeral_disk.iteritems() %}
      {{ k }}  = "{{ v }}"
    {% endfor -%}
    }
    {% endif %}


    {% if group.task is defined %}
    {%- for task in group.task -%}
    task "{{ task.name }}" {

      {% if task.driver is defined -%}
      driver = "{{ task.driver }}"
      {%- endif %}

      {% if task.config is defined -%}
      config {
        image = "mmeve/spring_boot_nomad_test:latest"
        auth {
          username = "mmeve"
          password = "sinseidai"
        }
        port_map {
          tomcat = 8080
        }
      }
      {%- endif %}
      env {
        SPRING_PROFILES_ACTIVE = "nomad"
        SPRING_CLOUD_CONSUL_HOST = "192.168.11.3"
      }

      resources {
        cpu    = 500 # 500 MHz
        memory = 256 # 256MB
        network {
          mbits = 10
          port "tomcat" {}
        }
      }

      service {
        name = "redis-cache"
        tags = ["global", "cache"]
        port = "tomcat"
        check {
          name     = "alive"
          type     = "tcp"
          interval = "10s"
          timeout  = "2s"
        }
      }
    }
{% endfor %}
{%- endif %}
  }
{% endfor %}
{%- endif %}
}
